.paper {
    padding: 25px ;
    height: 40vh;
    width: 300px;
    margin: 100px auto;
}
.form {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-gap: 50px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #002984;
    font-size: 20px;
}